@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500;600&display=swap');

:root {
    --emerald: #034C52;
    --light-emerald: #015C63;
    --lighter-emerald: #017075;
    --salmon: #F48079;
    --light-salmon: #FDA898;
    --lighter-salmon: #FFC0B4;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Prompt', sans-serif;
}

/* Texts */
.text-emerald {
    color: var(--emerald);
}

/* Buttons */
.btn-emerald {
    background-color: var(--emerald);
    color: white;
}
.btn-emerald:enabled:hover, .btn-emerald:enabled:focus {
    background-color: #023236;
    color: white;
    outline-color: var(--light-emerald) !important;
}